<app-header></app-header>
<div class="about-section">
    <h2 class="about-section-h2">ACERCA DE CASM</h2>
    
    <h3 class="about-section-h3">NUESTRA MISIÓN</h3>
    <p class="about-section-p">En CASM, creemos que el bienestar mental es la base para una vida plena y satisfactoria. Nuestra misión es ofrecer un espacio accesible y seguro donde puedas encontrar herramientas y recursos confiables para manejar el estrés, la ansiedad y mejorar tu bienestar emocional día a día. Queremos que cada usuario se sienta acompañado en su camino hacia una mejor salud mental, independientemente de su situación o ubicación.</p>
    
    <h3 class="about-section-h3">¿POR QUÉ CASM?</h3>
    <p class="about-section-p">Nuestro Centro de Apoyo para la Salud Mental, nació con el deseo de facilitar el acceso a apoyo emocional y práctico. Sabemos que los desafíos mentales pueden ser abrumadores, y nuestro objetivo es que encuentres en esta app una guía para gestionar esos momentos difíciles y mejorar tu calidad de vida.</p>
    
    <h3 class="about-section-h3">¿QUÉ PUEDES ESPERAR DE NOSOTROS?</h3>
    <p class="about-section-p">CASM te ofrece una variedad de servicios, que van desde ejercicios prácticos de relajación, directorios de psicólogos, hasta un espacio para llevar un diario emocional. Creemos que cada persona es única, por lo que hemos diseñado una serie de herramientas que puedes adaptar a tus necesidades específicas, buscando ayudarte a construir una rutina de autocuidado que funcione para ti.</p>
    
    <h3 class="about-section-h3">CONOCE AL EQUIPO DETRÁS DE CASM</h3>
    <p class="about-section-p">CASM ha sido desarrollado por un equipo apasionado por la salud mental y el desarrollo de tecnología accesible. Trabajamos de la mano con psicólogos y expertos para ofrecerte recursos actualizados y de calidad. Nuestro objetivo es estar en constante mejora y siempre abiertos a sugerencias que nos ayuden a brindarte una experiencia aún mejor.</p>
    
    <h3 class="about-section-h3">AGRADECIMIENTOS</h3>
    <p class="about-section-p">Gracias por confiar en CASM y permitirnos acompañarte en tu camino hacia una mejor salud mental. Recuerda que no estás solo/a, y que cada paso que das hacia el autocuidado es una inversión en tu bienestar. Estamos aquí para ti, siempre.</p>
  </div>  
<app-footer></app-footer>