<app-header-feed></app-header-feed>
<div class="main-container">
    <app-sidebar *ngIf="isSidebarVisible && !isMobileView"></app-sidebar>
    <div class="content">
        <ng-container *ngFor="let publication of publications">
            <app-publication-card 
                [photo_profile]="publication.image" 
                [user_name]="publication.user_name" 
                [description]="publication.description" 
                [image]="publication.image">
            </app-publication-card>
        </ng-container>
    </div>
</div>

<button class="floating-button" (click)="openPublicationDialog()">
    <i class="fas fa-plus"></i>
</button>

<div class="notes">
    <app-note-card
      *ngFor="let note of notes"
      [title]="note.title"
      [content]="note.content"
      (share)="onShare($event)">
    </app-note-card>
</div>

<footer *ngIf="isMobileView" class="footer-menu">
    <ul class="footer-ul">
        <li class="footer-li">
            <a class="footer-a" (click)="redirect_to_notes($event)"><i class="fas fa-edit"></i> Agregar Nota</a>
        </li>
        <li class="footer-li">
            <a class="footer-a" (click)="redirect_to_favorites($event)"><i class="fas fa-heart"></i> Favoritos</a>
        </li>
        <li class="footer-li">
            <a class="footer-a" (click)="redirect_to_feed($event)"><i class="fas fa-newspaper"></i> Publicaciones</a>
        </li>
        <li class="footer-li">
            <a class="footer-a" (click)="redirect_to_chat($event)"><i class="fas fa-paper-plane"></i> Chat</a>
        </li>
    </ul>
</footer>
