.header-feed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#0d3b66, #1a4f8e, #3a7ff0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 20px;
    top: 0;
    z-index: 1000;
}

.header-left-img {
    width: 80px;
    height: auto;
}

.header-center-h1 {
    margin: 0;
    font-size: 48px;
    color: white;
    letter-spacing: 15px;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: bold;
}

.header-right-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.header-right-ul-li {
    margin: 0 15px;
}

.header-right-ul-li-a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer;
}

.header-right-ul-li-a:hover {
    color: #fdd300;
}

.header-right-ul-img {
    width: 35px;
    height: auto;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .header-feed {
        padding: 15px;
    }

    .header-left-img {
        width: 50px;
    }

    .header-center-h1 {
        display: none;
    }

    .header-right-ul {
        gap: 10px;
    }

    .header-right-ul-img {
        width: 30px;
    }

    .header-right-ul-li {
        margin: 0 8px;
    }

    /* Para pantallas muy pequeñas */
    @media (max-width: 480px) {
        .header-right-ul {
            gap: 5px;
        }

        .header-left-img {
            width: 40px;
        }

        .header-right-ul-img {
            width: 25px;
        }
    }
}