.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #0d3b66;
    color: #fff;
    text-align: center;
}

.hero-h1-class {
    font-size: 48px;
    margin: 0;
}

.hero-p-class{
    font-size: 20px;
    margin-top: 20px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #ffffff;
}

.feature-box {
    text-align: center;
    max-width: 300px;
}

.feature-box i {
    font-size: 40px;
    color: #0d3b66;
}

.feature-box-h3-class {
    margin: 20px 0 10px;
    font-size: 22px;
    color: #0d3b66;
}

.feature-box-p-class {
    color: #666;
}

@media (max-width: 767px) {
    .hero {
        height: 50vh;
    }

    .hero-h1-class {
        font-size: 20px;
    }

    .hero-p-class {
        font-size: 16px;
    }

    .features {
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }

    .feature-box {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .feature-box i {
        font-size: 30px;
    }

    .feature-box-h3-class {
        font-size: 18px;
    }

    .feature-box-p-class {
        font-size: 14px;
    }
}

/* Pantallas medianas (tabletas) */
@media (max-width: 1023px) {
    .hero {
        height: 55vh;
    }

    .hero-h1-class {
        font-size: 40px;
    }

    .hero-p-class {
        font-size: 18px;
    }

    .features {
        padding: 30px;
    }

    .feature-box i {
        font-size: 35px;
    }

    .feature-box-h3-class {
        font-size: 20px;
    }

    .feature-box-p-class {
        font-size: 16px;
    }
}

/* Pantallas grandes (escritorios) */
@media (min-width: 1024px) {
    .hero {
        height: 60vh;
    }

    .hero-h1-class {
        font-size: 48px;
    }

    .hero-p-class {
        font-size: 20px;
    }

    .features {
        padding: 50px;
    }

    .feature-box i {
        font-size: 40px;
    }

    .feature-box-h3-class {
        font-size: 22px;
    }

    .feature-box-p-class {
        font-size: 18px;
    }
}