<div class="chat-window">
    <h3 *ngIf="chat">{{ chat.name }}</h3>
    <div class="messages" *ngIf="chat; else noChatSelected">
      <div *ngFor="let message of messages" 
           [ngClass]="message.sender.id === currentUser.id ? 'message sent' : 'message received'">
        <p class="sender-name" *ngIf="message.sender.id !== currentUser.id"></p>
        <p class="sender-name" *ngIf="message.sender.id === currentUser.id">Tú</p>
        <p class="message-text">{{ message.text }}</p>
      </div>
    </div>
  
    <ng-template #noChatSelected>
      <div class="no-chat-message">
        <p>Selecciona un chat para comenzar a conversar</p>
      </div>
    </ng-template>

    <div class="input-area" *ngIf="chat">
        <textarea [(ngModel)]="newMessage" placeholder="Escribe un mensaje..."></textarea>
        <button (click)="sendMessage()">
            <i class="fas fa-paper-plane send-icon"></i>
        </button>
    </div>
</div>
