<aside class="sidebar">
    <ul class="sidebar-ul">
        <li class="sidebar-li">
            <a class="sidebar-a" href="#"><i class="fas fa-edit"></i> Agregar Nota</a>
        </li>
        <li class="sidebar-li">
            <a class="sidebar-a" (click)="redirect_to_favorites($event)"><i class="fas fa-heart"></i> Favoritos</a>
        </li>
        <li class="sidebar-li">
            <a class="sidebar-a" href="#"><i class="fas fa-newspaper"></i> Publicaciones</a>
        </li>
        <li class="sidebar-li">
            <a class="sidebar-a" href="#"><i class="fas fa-paper-plane"></i> Chat</a>
        </li>
    </ul>
</aside>
