.directorio-card {
    width: 90%;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }
}

.profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;

    @media (max-width: 768px) {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-name {
    font-family: "Roboto Slab", serif;
    font-size: 1.2em;
    color: #333;

    @media (max-width: 768px) {
        font-size: 1.4em;
    }
}

.description {
    font-size: 1em;
    color: #666;

    @media (max-width: 768px) {
        font-size: 1.1em;
    }
}

.contact-details {
    margin-top: 10px;
}

.contact-item {
    font-size: 0.9em;
    color: #666;
    display: flex;
    align-items: center;
    gap: 5px;

    @media (max-width: 768px) {
        font-size: 1em;
    }
}

.message-button {
    margin-top: 10px;
    background-color: #0d3b66;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #074c80;
    }

    @media (max-width: 768px) {
        width: 100%;
        justify-content: center;
    }
}
